<div id="container" >
    <canvas id="bd-recover-status" data-url="{% url 'bd-recover-status' %}"></canvas>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    $(function () {

        var $worldStatus = $("#bd-recover-status");
        $.ajax({
            url: $worldStatus.data("url"),
            success: function (data) {

                var ctx = $worldStatus[0].getContext("2d");

                new Chart(ctx, {
                        type: 'bar',
                        data: {
                        labels: data.bddate,
                        datasets: [{
                        label: 'Recovered Cases',
                        backgroundColor: '#00cc44',
                        data: data.bdrecdata
                        }]
                },
                options: {
                    responsive: true,
                    legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Total Positive Cases'
                }
                }
                });

            }
        });

    });

</script>